<div style="position:absolute;top:0;right:0;z-index:25;"><a href="https://github.com/pedrofs/cakedone"><img style="border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a></div>

<div id="header-app" class="teal z-depth-2">
	<div class="container">
		<div class="row valign-wrapper">
			<div class="col m6">
				<img src="/img/logo_inline.png"/>
			</div>

			<div class="col m6 right-align valign">
				<span class="amber-text text-darken-1">A TODOIST-LIKE (much simpler :) APPLICATION</span>
			</div>
		</div>
	</div>
</div>

<div class="container">
  <a href="javascript:;" ng-click="logout()" class="btn teal right amber-text text-darken-1">
  	<i class="large material-icons">input</i>
  </a>

	<ui-view></ui-view>
</div>